.bodyUpload {
  width: 100%;
  margin: 15px 10px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.uploadInput {
	opacity: 0;
	height: 0;
	width: 0;
	padding: 0;
	margin: 0;
	overflow: hidden;
}