.menuLi {
  display: flex;
  align-items: center;
  gap: 10px;
  cursor: pointer;
  padding: 10px 20px;
}

.menuLiImage {
  background: white;
  box-shadow: var(--color-emphasis-400) 0px 0px 0px 1px;
}

.liContent {
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-left: 5px;
}

.liDescription {
  font-size: 11px;
  color: var(--color-emphasis-500);
}
