.footer {
  --footer-background-color: #303846;
  --footer-color: var(--footer-link-color);
  --footer-link-color: var(--color-secondary);
  --footer-title-color: var(--color-white);

  background-color: var(--footer-background-color);
  color: var(--footer-color);
  padding: var(--footer-padding-vertical) var(--footer-padding-horizontal);
}

.footer_container {
  margin: 0 auto;
  max-width: var(--container-width);
  padding: 0 var(--spacing-horizontal);
  width: 100%;
}

.content_row {
  display: flex;
  flex-wrap: wrap;
  margin: 0 calc(var(--spacing-horizontal) * -1);
  min-height: 132px;
  margin-bottom: 1rem;
}

.links_columns {
  --col-width: 100%;
  flex: 1 0;
  margin-left: 0;
  max-width: var(--col-width);
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.links_title {
  color: var(--footer-title-color);
  font: bold var(--h4-font-size) / var(--heading-line-height)
    var(--font-family-base);
  margin-bottom: var(--heading-margin-bottom);
}

.content_copyright {
  text-align: center;
}
