.headerLesson {
  width: 100%;
  min-height: 32vh;
  padding: 10px;
  position: relative;
  background-color: var(--hover-overlay);
  padding-bottom: 30px;

  @media (max-width: 1050px) {
    padding-bottom: 20px;
  }
}
