// import { CSSProperties } from "react";

.BodyEditor {
  background: var(--background-surface-color);
  padding: 10px;
  border-radius: 10px;
  height: 100%;
  overflow: hidden;
  width: 100%;

  div[data-milkdown-root] {
    height: 100%;
  }
}
