.tooltipCommon {
  display: flex;
  width: 24rem;
  flex-direction: column;
  gap: 0.5rem;
  border-radius: 0.25rem;
  padding: 1rem;
  background-color: var(--color-primary-darker);
  border: 2px solid var(--color-primary-light);
}

