.menuEmoji {
  margin: 0;
  width: 100%;
  height: 100%;
  padding: 10px 15px;
  border-radius: 10px;
  max-width: 350px;
  overflow: auto;
  background-color: var(--color-emphasis-100);
  box-shadow: 0 10px 15px -3px rgb(0 0 0 / 0.1), 0 4px 6px -4px rgb(0 0 0 / 0.1);
  display: flex;
  gap: 5px;
  flex-wrap: wrap;
}

.itemEmoji {
  cursor: pointer;
  width: 20px;
  height: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.descriptionEmoji {
  background-color: var(--color-primary-darker);
  padding: 10px 20px;
}
