:root[data-theme="light"] {
  --color-primary: #6c006a;
  --color-primary-dark: #6b2669;
  --color-primary-darker: #ca44c7;
  --color-primary-darkest: #320827;
  --color-primary-light: #bc2fd5;
  --color-primary-lighter: #9c1f8c;
  --color-primary-lightest: #db3295;
  --code-font-size: 95%;
  --highlighted-code-line-bg: #c1c1c1;
  --text-color: white;
	--color-cyber-pink:#f11c7c;
}
