.navBar_column {
  flex: 0 0 var(--col-width);
  --col-width: calc(3 / 12 * 100%);
  margin-left: 0;
  max-width: var(--col-width);
  padding: 0 var(--spacing-horizontal);
  width: 100%;
}

.navBar_stiky {
  max-height: calc(100vh - (var(--navbar-height) + 2rem));
  overflow-y: auto;
  position: sticky;
  top: calc(var(--navbar-height) + 1rem);
  --col-width: calc(3 / 12 * 100%);
}

.navBar_list {
  font-size: 0.8rem;
  margin-bottom: 0;
  padding: var(--toc-padding-vertical) 0;
  margin: 0 0 var(--list-margin);
  padding-left: var(--toc-padding-horizontal);
  border-left: 1px solid var(--toc-border-color);

  li {
    margin: var(--toc-padding-vertical) var(--toc-padding-horizontal);
  }
}
